* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	margin: 0;
}

#PongStage {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#container {
	position: absolute;
	width: 100%;
	height: 100%;
}

#userDiv {
	position: absolute;
	bottom: 15px; left: 50%;
	margin-left: -160px;
	width: 320px;
	text-align: center;
	font-family: 'Arial';
	font-size: 16px;
	font-weight: bold;
	color: #A3FF24;
	z-index: 2;
	display: none;
}

#disconnectDiv {
	position: absolute;
	bottom: 15px; left: 50%;
	margin-left: -160px;
	width: 320px;
	text-align: center;
	font-family: 'Arial';
	font-size: 16px;
	font-weight: bold;
	color: #A3FF24;
	z-index: 2;
	display: none;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/bg.jpg') center center;
	background-size: cover;
	z-index: -1;
}

@media only screen and ( device-width: 320px ) and ( -webkit-min-device-pixel-ratio: 2 ) {

	body {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	#PongStage {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	#userDiv {
		position: absolute;
		left: 50%; bottom: 30px;
		margin-left: -160px;
		width: 320px;
		text-align: center;
		font-family: 'Arial';
		font-size: 20px;
		font-weight: bold;
		color: #A3FF24;
		z-index: 2;
	}

	#disconnectDiv {
		position: absolute;
		bottom: 30px; left: 50%;
		margin-left: -160px;
		width: 320px;
		text-align: center;
		font-family: 'Arial';
		font-size: 20px;
		font-weight: bold;
		color: #A3FF24;
		z-index: 2;
	}

}